/*Constants Start*/
body{
    margin: 0px;
}
#footer{
    background-color: rgb(249, 211, 146);
    display: flex;
    flex-direction: row;
}
#leftFoot{
    width: 50%;
}
#rightFoot{
    width: 50%;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
    height: 15%;
    padding: 4px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    position: sticky;
}
/*Constants end*/

/*Homepage Start*/
#logoSide{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
}
#title{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#logo{
    height: 50%;
    width: 50%;
}
#buttonSide{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    margin-left: auto;
    align-items: center;
    gap: 10%;
}
#headerBttn{
    box-shadow: 0px 1.5px 2px rgba(0, 0, 0, 0.3);
    background-color: darkgrey;
    color: whitesmoke;
    font-size: large;
    transition: all;
    transition-duration: 150ms;
    border-radius: 15px;
    border-width: 1.5px;
    border-color: whitesmoke;
    padding: 5% 10%;
}
#headerBttn:hover{
    scale: calc(1.05);
}
#headerBttn:active{
    scale: calc(0.975);
}

#body{
    background-image: url("./assets/homepage-bg.jpg");
    background-size: cover;
    margin: 0px;
    height: 100vh;
}
#titleSection{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 40vw;
    height: 100%;
    display: grid;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
#titleText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: xx-large;
    margin-top: 0px;
}
#secondText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Homepage end*/

/*Login Start*/
#logBody{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
#loginForm{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 25px;
    width: fit-content;
    padding: 16px;
    gap: 8px;
    margin: auto auto;
}
/*Login End*/

/*Sign Up Start*/
#signupBody{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
#signupForm{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 25px;
    width: fit-content;
    padding: 16px;
    gap: 8px;
    margin: auto auto;
}
/*Sign Up End*/