body{
    margin: 0px;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
    height: 15%;
    padding: 4px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);

}

#logoSide{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
}
#title{
    font-size: xx-large;
}
#logo{
    height: 50%;
    width: 50%;
}
#buttonSide{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    margin-left: auto;
    align-items: center;
    gap: 10%;
}
#headerBttn{
    box-shadow: 0px 1.5px 2px rgba(0, 0, 0, 0.3);
    background-color: darkgrey;
    color: whitesmoke;
    font-size: large;
    transition: all;
    transition-duration: 150ms;
    border-radius: 15px;
    border-width: 1.5px;
    border-color: whitesmoke;
    padding: 5% 10%;
}
#headerBttn:hover{
    scale: calc(1.05);
}
#headerBttn:active{
    scale: calc(0.975);
}

#titleText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: x-large;
}
#secondText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}